extends layout

block content
  h1= title
  -
    let items = results
  div(class= "container-fluid")
    div(class = "row")
      each item,index in items
        div(class= "col-sm-2", onclick=`buy(${index})`) Flavor: #{item.muffin_flavour}
        div(class= "col-sm-2", onclick=`buy(${index})`) Quantity: #{item.muffin_quantity}
        div(class= "col-sm-2", onclick=`buy(${index})`) Cost: #{item.muffin_cost}
        br
        br
        
  script.
    function buy(itemNum){
      alert(`You purchased item ${itemNum+1}`)
    }
