extends layout
block content
    h1= title

    if (toShow == null)
        h2 No instance to delete
    else
        - let muffinid = toShow._id
        - let muffin_flavour = toShow.muffin_flavour
        - let muffin_quantity = toShow.muffin_quantity
        - let muffin_cost = toShow.muffin_cost
        - let actionid = "/resource/muffins/" + muffinid

        script let actionid = "#{actionid}"
        div
            div.row
                div(class='muffinAttr mr-3') Muffin ID is:
                div #{muffinid}
            div.row
                div(class='muffinAttr mr-3') Muffin Flavour is:
                div #{muffin_flavour}
            div.row
                div(class='muffinAttr mr-3') Muffin Quantity is:
                div #{muffin_quantity}
            div.row
                div(class='muffinAttr mr-3') Muffin Cost is:
                div #{muffin_cost}
        br
        br
        button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
        button(class="btn btn-secondary m-2" onclick="cancel()") Cancel
    
    script.
        function cancel() {
        // Go back to the home page for the costume collection
            window.location.href='/costumes'
        }

    script.
        function deleteOnid() {
            console.log("starting delete")
            // delete first
            fetch(actionid, { method: 'DELETE' // Don't need a body for the delete
            }).then((resp) => {
                return resp.json(); // or resp.text() or whatever the server sends
            }).then((body) => {
                alert("Delete succeded")
                window.location.href='/muffins'
                // TODO handle body
            }).catch((error) => {
                // TODO handle error
                alert("Delete failed " + error )
            });
        }
